#pgwrapper-backgrnd-hot-pg {
    background: url(https://cdn.discordapp.com/attachments/677255897134792748/718398586681032724/anime_background_girl_background.jpg);
}

#hot-anime-list-title {
    color: white;
}

#hot-anime-list-div {
    color: white;
}

#hot-pg-main-content {
    width: 90%;
    margin: 5%;
    background: black;
    opacity: 70%;
}

#hot-anime-list-div {
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Poppins', sans-serif;
}